
@{
    ViewData["Title"] = "BecomeHelper";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Provider</title>
    <link rel="stylesheet" href="~/Assets/css/become-a-pro.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3960232895.js"></script>
</head>
<body>
    <section class="become-a-pro" style="background-image: url(/Assets/image/become-a-pro-banner.png);">
        <nav class="navbar navbar-expand-lg trans">
            <a href="@Url.Action("Index","Home")" class="navbar-logo">
                <img src="~/Assets/image/white-logo-transparent-background.png" class="helperland-logo">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars bar-btn"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item Rounded-Rectangle">
                        <a href="@Url.Action("Prices","Home")" class="nav-link">
                            Prices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Our Guarantee
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Contact","Contact")" class="nav-link">
                            Contact us
                        </a>
                    </li>
                    <li class="nav-item Rounded-Rectangle">
                        <a href="" data-toggle="modal" data-target="#loginModal" class="nav-link">
                            login
                        </a>
                    </li>
                    <li class="nav-item Rounded-Rectangle">
                        <a href="@Url.Action("BecomeHelper","becomehelper")" class="nav-link">
                            Become a Helper
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-8 col-md-6 col-10">
                    <form class="register-form">
                        <h3 class="txt-register">Register Now!</h3>
                        <div class="col-lg-12">
                            <div class=form-group>
                                <input type="text" class="form-control" id="fname" name="first name" placeholder="First name">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class=form-group>
                                <input type="text" class="form-control" id="lname" name="Last name" placeholder="Last name">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class=form-group>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+44</span>
                                </div>
                                <input type="tel" class="form-control" id="phone" name="mobile Number" placeholder="Mobile number">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class=form-group>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class=form-group>
                                <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridcheck">
                                    <label for="gridcheck" class="form-check-label txt-check">
                                        Send me newsletters from Helperland
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridcheck1">
                                    <label for="gridcheck1" class="form-check-label txt-check">
                                        I accept <a href="#"> terms and conditions </a>&<a href="#"> privacy policy</a>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12 btn-class">
                            <button class="btn-form">
                                Get Started<img src="~/Assets/image/shape-2-white.png" class="img-arrow">
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="down-arrow">
            <a href="#"> <img src="~/Assets/image/ellipse-525.png" class="elipse-525"></a>
            <a href="#"><img src="~/Assets/image/shape-1.png" class="shape-1"></a>
        </div>
    </section>

    <section class="works">
        <img src="~/Assets/image/blog-left-bg.png " class="remove" style="float: left;">
        <img src="~/Assets/image/blog-right-bg.png" class="remove" style="float: right;">

    </section>

    <section class="how-works">
        <div id="how-works">
            <h2 class="txt-how-works">How it works</h2>
        </div>
        <div class="container1">
            <div class="row-1">
                <div class=txt-card>
                    <h3 class="register-yourself">Register yourself</h3>
                    <h4 class="provide">
                        Provide your basic information to register<br>
                        yourself as a service provider.
                    </h4>
                    <div class="read-more">
                        <h4 class="provide">Read more</h4>
                        <a href="#"><img src="~/Assets/image/shape-2.png" class="shape-read"></a>
                    </div>
                </div>
                <img src="~/Assets/image/group-113.png" class="img-row1">
            </div>

            <div class="row-2">
                <div class=txt-card>
                    <h3 class="register-yourself">Get service requests</h3>
                    <h4 class="provide">
                        You will get service requests from<br>
                        customes depend on service area and profile.
                    </h4>
                    <div class="read-more">
                        <h4 class="provide">Read more</h4>
                        <a href="#"><img src="~/Assets/image/shape-2.png" class="shape-read"></a>
                    </div>
                </div>
                <img src="~/Assets/image/group-111.png" class="img-row1">
            </div>

            <div class="row-1">
                <div class=txt-card>
                    <h3 class="register-yourself">complete service</h3>
                    <h4 class="provide">
                        Accept service requests from your customers<br>
                        and complete your work.
                    </h4>
                    <div class="read-more">
                        <h4 class="provide">Read more</h4>
                        <a href="#"><img src="~/Assets/image/shape-2.png" class="shape-read"></a>
                    </div>
                </div>
                <img src="~/Assets/image/group-112.png" class="img-row1">
            </div>
        </div>
    </section>

    <div>
        <div class="get-newsletter">
            <p>GET OUR NEWSLETTER</p>
        </div>
        <div class="form1">

            <input type="email" id="email" placeholder="Your Email" class="email">
            <button class="submit">submit </button>
        </div>

        <div class="container-fluid footer">
            <div class="row">
                <div class="col-sm-3 logo-footer">
                    <a href="@Url.Action("Index","Home")"><img src="~/Assets/image/white-logo-transparent-background.png" class="img-footer"></a>
                </div>
                <div class="col-sm-6 footer-links-1">
                    <p class="footer-links">
                        <a href="@Url.Action("Index","Home")">HOME</a>
                        <a href="@Url.Action("About","Home")">ABOUT</a>
                        <a href="#">TESTIMONIALS</a>
                        <a href="@Url.Action("Faq","Home")">FAQS</a>
                        <a href="#">INSURANCE</a>
                        <a href="#">POLICY</a>
                        <a href="#">IMPRESSUM</a>
                    </p>
                </div>
                <div class="col-sm-3 social-footer">

                    <a href=#><img src="~/Assets/image/facebook.png" style="padding-right: 15px;"></a>
                    <a href=#><img src="~/Assets/image/insta.png"></a>
                </div>
            </div>
            <div class="footer-2">
                <hr style="border: #424242 1px solid;text-align: center;width: 1150px;">
            </div>

            <div class="footer-3">
                <p>©2018 Helperland. All rights reserved. <a href=# style="color: #9ba0a3;">Terms and Conditions</a> | <a href=# style="color: #9ba0a3;">Privacy Policy</a></p>
            </div>
        </div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3960232895.js"></script>




</body>

</html>