
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="~/Assets/css/about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="~/Assets/image/white-logo-transparent-background-copy-4.png" type="image/icon type">
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top " style="background-color: #525252;min-height: 54px;">
        <a href="@Url.Action("Index","Home")" class="navbar-brand"><img src="~/Assets/image/white-logo-transparent-background.png" style="width: 73px;height: 54px;"></a>
        <button class="navbar-toggler"  data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color: white;font-size: 28px;"></i>
            </span>
          </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item Rounded-Rectangle" style="background-color: #29626D;">
                <a href="#" class="nav-link">
                    Book Now
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Prices","Home")" class="nav-link Rounded-Rectangle">
                    Prices & Services
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Warranty
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Contact","Contact")" class="nav-link">
                    Contact
                </a>
            </li>
            <li class="nav-item Rounded-Rectangle" style="background-color: #29626D;">
                <a href="#" class="nav-link">
                    Login
                </a>
            </li>
            <li class="nav-item Rounded-Rectangle" style="background-color: #29626D;">
                <a href="@Url.Action("BecomeHelper","becomehelper")" class="nav-link">
                    Become a Helper
                </a>
            </li>
        </ul>
    </div>
    </nav>

    <img src="~/Assets/image/hero-banner-img.png" class="about-banner">
    
    <div class="few-words">
        <h1 class="txt-few-words">A Few words about us</h1>
        <div class="diamond">
            <hr class=diam-break-left>
            <img src="~/Assets/image/forma-1-copy-5.png" class="img-diamond">
            <hr class="diam-break-right">
        </div>
        <div class="container">
            <div class="col justify-content-center">
                <div class="row">
                    <h3 class="txt-small"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</h3><br>
                </div>
                <div class="row">    
                    <h3 class="txt-small">Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="few-words">
        <h1 class="txt-few-words">Our story</h1>
        <div class="diamond">
            <hr class=diam-break-left>
            <img src="~/Assets/image/forma-1-copy-5.png" class="img-diamond">
            <hr class="diam-break-right">
        </div>
        <div class="container">
            <div class="col justify-content-center">
                <div class="row">
                    <h3 class="txt-small"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</h3><br>
                </div>
                <div class="row">    
                    <h3 class="txt-small">Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit.</h3><br>
                </div>
                <div class="row">
                     <h3 class="txt-small">Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="get-newsletter">
        <p>GET OUR NEWSLETTER</p>
    </div>
    <div class="form1">
        
            <input type="email" id="email" placeholder="Your Email" class="email">
            <button class="submit">submit </button> 
    </div>

    <div class="container-fluid footer">
        <div class="row">
            <div class="col-sm-3 logo-footer" >
                <a href=#><img src="~/Assets/image/white-logo-transparent-background.png" class="img-footer"></a>
            </div>
            <div class="col-sm-6 footer-links-1">
                <p class="footer-links">
                    <a href="@Url.Action("Index","Home")">HOME</a>   
                        <a href="@Url.Action("About","Home")">ABOUT</a>   
                        <a href="#">TESTIMONIALS</a>   
                        <a href="@Url.Action("Faq","Home")">FAQS</a>  
                        <a href="#">INSURANCE</a>   
                        <a href="#">POLICY</a>   
                        <a href="#">IMPRESSUM</a>     
                </p>
            </div>
            <div class="col-sm-3 social-footer">
    
                    <a href=#><img src="~/Assets/image/facebook.png" style="padding-right: 15px;"></a>
                    <a href=#><img src="~/Assets/image/insta.png"></a>
            </div>
        </div>
              <div class="footer-2">
                  <hr style="border: #424242 1px solid;text-align: center;width: 1150px;">
              </div>
              
              <div class="footer-3">
                  <p>©2018 Helperland. All rights reserved. <a href=# style="color: #9ba0a3;">Terms and Conditions</a> | <a href=# style="color: #9ba0a3;">Privacy Policy</a></p>
              </div>
              </div>
          </div>
      </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/3960232895.js"></script>
  </body>
  </html>

